.anchor{
    text-decoration: none;
    color: rgb(84, 75, 75);
    flex-direction: row;
}

.details{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.author{
    height: 6%;
    width: 6%;
    border-radius: 100%;
}